<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns  	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.vaadin.phonegap.getting.started"
	version 	= "2.7.0">

	<name>Mobile Mail app Building .apk file</name>

	<description>
		A template for getting started with PhoneGap wrapped Vaadin app and build.phonegap.com
	</description>

	<author href="https://github.com/gondireddy999"
		email="gondireddy999@gmail.com">
		GMR
	</author>

	

</widget>
